<template>
  <div class="my-2" style="">
    <h1>CHART</h1>
 
      <line-chart :data="chartData" class="white"></line-chart>
      <pie-chart :data="pieData" class="white"></pie-chart>
      <div class="Chart">
      <h1 style="text-align:center;">Barchart</h1>
      <BarExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Horizontal Barchart</h1>
      <HorizontalBarExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Barchart with reactive mixing for live data</h1>
      <ReactiveExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Barchart with reactive mixing for live data as props</h1>
      <ReactivePropExample :chart-data="dataPoints"/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Linechart</h1>
      <LineExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Doughnutchart</h1>
      <DoughtnExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Piechart</h1>
      <PieExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Radarchart</h1>
      <RadarExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Polararea</h1>
      <PolarAreaExample/>
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Bubblechart</h1>
      <BubbleExample />
    </div>

    <div class="Chart">
      <h1 style="text-align:center;">Scatter Chart</h1>
      <ScatterExample />
    </div>
    <div class="Chart">
      <h1 style="text-align:center;">Custom Line Chart</h1>
      <CustomExample />
    </div>
  </div>
   
</template>

<script>
import BarExample from "../graphics/BarExample";
import BubbleExample from "../graphics/BubbleExample";
import RadarExample from "../graphics/RadarExample";
import ReactivePropExample from "../graphics/ReactivePropExample";
import ScatterExample from "../graphics/ScatterExample";
import CustomExample from "../graphics/CustomExample";
import DoughtnExample from "../graphics/DoughtnExample";
import HorizontalBarExample from "../graphics/HorizontalBarExample";
import LineExample from "../graphics/LineExample";
import ReactiveExample from "../graphics/ReactiveExample";
import PieExample from "../graphics/PieExample";
import PolarAreaExample from "../graphics/PolarAreaExample";


export default {
  components: {
    BarExample,
    RadarExample,
    BubbleExample,
    ReactivePropExample,
    ScatterExample,
    CustomExample,
    DoughtnExample,
    HorizontalBarExample,
    LineExample,
    ReactiveExample,
    PieExample,
    PolarAreaExample
  },
  data: () => ({
    chartData: {
      "2021-01-06": 2,
      "2021-02-15": 5,
      "2021-02-22": 10,
      "2021-03-31": 17,
    },
    pieData: {
      GBAGBO: 17,
      BEDIE: 11,
      ADO: 2,
    },
  }),
  methods: {},
};
</script>
