<template>
  <div class="dashboard">
    <h1>TEAM</h1>
    <v-container class="my-3">
      <v-layout row wrap>
        <v-flex
          xs12
          sm6
          md4
          lg3
          v-for="team in teams"
          :key="team.name"
          class="my-2"
        >
          <v-card class="text-xs-center ma-3" max-width="250">
            <v-responsive class="pt-4">
              <v-avatar
                ><img :src="team.avatar" height="120px" alt="" />
              </v-avatar>
            </v-responsive>

            <v-card-title> {{ team.name }} </v-card-title>

            <v-card-subtitle> {{ team.role }} </v-card-subtitle>

            <v-card-actions>
              <v-btn color="orange lighten-2" text> {{ team.name }} </v-btn>

              <v-spacer></v-spacer>

              <v-btn icon @click="show = !show">
                <v-icon>{{
                  show ? "mdi-chevron-up" : "mdi-chevron-down"
                }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>

                <v-card-text>
                  {{ team.deccrip }}
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      teams: [
        {
          name: "The Net Ninja",
          role: "Web developer",
          avatar: "/avatar/avatar-1.png",
          descrip:
            "I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're",
        },
        {
          name: "Ryu",
          role: "Graphic designer",
          avatar: "/avatar/avatar-2.png",
          descrip:
            "I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're",
        },
        {
          name: "Chun Li",
          role: "Web developer",
          avatar: "/avatar/avatar-3.png",
          descrip:
            "I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're",
        },
        {
          name: "Gouken",
          role: "Social media maverick",
          avatar: "/avatar/avatar-4.png",
          descrip:
            "I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're",
        },
        {
          name: "Yoshi",
          role: "Sales guru",
          avatar: "/avatar/avatar-5.png",
          descrip:
            "I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're",
        },
      ],
    };
  },
};
</script>
<style>
</style>