<template>
  <nav>
    <v-toolbar dark class="success">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">Todo</span>
        <span>Ninja</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu transition="slide-y-transition" bottom offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn text class="mx-2" v-bind="attrs" v-on="on">
            <v-icon left> expand_more </v-icon>
            <span>Menu</span>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="link in links"
            :key="link.text"
            router
            :to="link.route"
          >
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <!-- dropdown  -->
      <v-btn text>
        <span>Sign Out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>

    <v-navigation-drawer app dark v-model="drawer" class="grey darken-4">
      <v-layout column align-center>
        <v-flex class="mt-5 mb-2">
          <v-avatar size="100">
            <img src="/avatar/avatar-1.png" alt="" />
          </v-avatar>
          <p class="white--text subheading mt-2">The Net Game</p>
        </v-flex>

        <v-flex class="mt-4 mb-3">
          <Popup/>
        </v-flex>

      </v-layout>

      <v-list>
        <v-list-item
          v-for="link in links"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="white--text">
              {{ link.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn block class="red">
            <v-icon left class="white--text">logout</v-icon>
            <span>Logout</span>
          </v-btn>
        </div>
      </template>

    </v-navigation-drawer>
  </nav>
</template>
<script>
import Popup from "./Popup";
export default {
  components: { Popup },
  data() {
    return {
      drawer: false,
      links: [
        { icon: "dashboard", text: "Dashboard", route: "/" },
        { icon: "folder", text: "My Projects", route: "/projects" },
        { icon: "person", text: "Team", route: "/team" },
        { icon: "info", text: "Info", route: "/info" },
      ],
    };
  },
};
</script>

<style>
</style>