<template>

  <v-app>
   
    <v-main>
       <Navbar />
      <router-view  class="mx-4 mb-3"></router-view>
    </v-main>
     
  </v-app>
</template>

<script>
import Navbar from './components/Navbar'
export default {
  components: { Navbar },
  name: 'App',
  data () {
    return {
      
    }
  }
}
</script>


